    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    
    }
    body {
        height: 100vh;
        background: blue;
        color: aliceblue;
    }
    .rules {
        color: aliceblue;
        
    }
   .game-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: 50%;
    
    
    


   }
   .front-card, .back-card {
       height: 150px;
       width: 170px;


   }
   .front-card {
       position: absolute;
   }
   .back-card {
       position: relative;
   }
   @media screen {
       
   }